body {
    background: grey;
}

img  {
    /* height: 450px;
    width: 450px; */
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}

button {
    background-color: plum;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

button:hover {
    background-color:rgb(162, 86, 162);
    transition: 0.7s;
}
