body {
    background: purple;
}

img  {
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: grey;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
}
